<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/bootstrap.min.css}">

<title>Error</title>
</head>
<body class="p-3 mb-2 bg-light text-black">

	<div class="container justify-content-center w-25 p-3"
		style="background-color: #eeeeee; ">

		<div id="error-msg" class="alert alert-danger">
					<h1 style=font-size:150px id="error-code" class="display-5" th:text="${errorCode}"></h1>

	</div>
	
			<div id="error-msg" class="alert alert-dark">
	
			<h5 >Something went wrong!</h5>

			<p>The link you followed may be broken, or the page may have been
				removed.</p>
	

	</div>


		<div class="alert " style="margin-top: 0.5em;">
			<label><a href="/home">Click here to visit Home</a></label>
		</div>
	</div>
</body>
</html>
